* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100vh;
    padding: 0 auto;
    margin: 0 auto;
    color: white;
}

.contenedor {
    padding: 0 20px;
    text-align: center;
}

.navbar {
    background-color: #000000;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 12%;
    z-index: 100;
}

/* Style the links inside the navigation bar */

.navbar a {
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */

.navbar a:hover {
    background-color: rgb(80, 80, 80);
    color: black;
}

/* Hide the link that should open and close the navbar on small screens */

.navbar .icon {
    display: none;
}

.navbar h2 {
    padding-top: 1%;
}

.tablink {
    background-color: rgb(0, 0, 0);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 0px;
    font-size: 17px;
    width: calc(100%/6);
}

.tablink:hover {
    background-color: #777;
}

/* Style the tab content */

.tabcontent {
    color: white;
    display: none;
    padding: 50px 0%;
    text-align: center;
    min-height: 80vh;
}

.clanes {
    padding: 0 5%;
}

.btn {
    border: 2px dashed rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
}

.fill:hover, .fill:focus {
    box-shadow: inset 0 0 0 4em var(--hover);
}

.fill {
    --color: #ffffff;
    --hover: #0603b8;
    width: calc(80%/3);
    height: 20vh;
    font-size: 4em;
}

.contenedor>button {
    background-color: yellow;
    padding: 10px;
    margin: 10px;
    /* IMPORTANTE */
    display: inline-block;
    color: var(--color);
    -webkit-transition: 0.25s;
    transition: 0.25s;
    background-color: transparent;
    border: solid 4px;
    border-radius: 20px;
}

/*   */

.contenedor>button:hover, button:focus {
    border-color: var(--hover);
    color: var(--color);
}

.success {
    border-color: white;
    color: white;
}

/* Animation */

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* botones */

.glow-on-hover {
    width: 25%;
    height: 35px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: 5% 3%;
}

.glow-on-hover:before {
    content: '';
    background-image: radial-gradient(circle at bottom left, rgb(242, 242, 242) 0%, rgb(242, 242, 242) 6%, rgb(238, 238, 238) 6%, rgb(238, 238, 238) 15%, rgb(234, 234, 234) 15%, rgb(234, 234, 234) 47%, rgb(230, 230, 230) 47%, rgb(230, 230, 230) 54%, rgb(225, 225, 225) 54%, rgb(225, 225, 225) 56%, rgb(221, 221, 221) 56%, rgb(221, 221, 221) 90%, rgb(217, 217, 217) 90%, rgb(217, 217, 217) 100%);
    position: absolute;
    top: -3px;
    left: -3px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    animation: glowing 30s ease-in-out infinite;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    border-radius: 50px;
}

.glow-on-hover:active {
    color: #000;
    font-weight: bolder;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:after {
    background: transparent;
}

.glow-on-hover:hover {
    color: #000;
    font-weight: bolder;
}

.glow-on-hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 50px;
}

.glow-on-hover-2 {
    width: 10%;
    height: 35px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    z-index: 0;
    border-radius: 50px;
    margin: 3.5% 2%;
}

.glow-on-hover-2:before {
    content: '';
    background-image: repeating-linear-gradient(135deg, rgb(171, 44, 42) 0px, rgb(171, 44, 42) 35px, rgb(207, 49, 34) 35px, rgb(207, 49, 34) 70px, rgb(123, 26, 26) 70px, rgb(123, 26, 26) 105px);
    position: absolute;
    top: -3px;
    left: -9px;
    background-size: 400%;
    z-index: -1;
    filter: blur(12px);
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    animation: glowing 30s ease-in-out infinite;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    border-radius: 50px;
}

.glow-on-hover-2:active {
    color: #000;
    font-weight: bolder;
}

.glow-on-hover-2:active:after {
    background: transparent;
}

.glow-on-hover-2:hover:after {
    background: transparent;
}

.glow-on-hover-2:hover {
    color: #000;
    font-weight: bolder;
}

.glow-on-hover-2:before {
    opacity: 1;
}

.glow-on-hover-2:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 50px;
}

/* carrulsel */

/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */

.mySlides {
    display: none;
}

/* Next & previous buttons */

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 60px;
    user-select: none;
}

/* Position the "next button" to the right */

.next {
    right: 0;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.548);
}

/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: -20px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ffffff81;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #55555581;
}

/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* cartas */

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 200px;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px;
}

/* This container is needed to position the front and back side */

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-card:hover .flip-card-inner {
    /*  transform: rotateY(180deg); */
}

/* Position the front and back side */

.flip-card-front, .flip-card-back {
    padding-top: 15%;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */

.flip-card-front {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: white 2px dotted;
    border-radius: 30px;
}

/* Style the back side */

.flip-card-back {
    background-color: rgb(15, 15, 15);
    color: white;
    border: white 2px dotted;
    transform: rotateY(180deg);
}

/* chip */

.chip {
    color: white;
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-image: linear-gradient(90deg, rgba(6, 6, 6, 0.01) 0%, rgba(6, 6, 6, 0.01) 1%, rgba(131, 131, 131, 0.01) 1%, rgba(131, 131, 131, 0.01) 14%, rgba(250, 250, 250, 0.01) 14%, rgba(250, 250, 250, 0.01) 26%, rgba(30, 30, 30, 0.01) 26%, rgba(30, 30, 30, 0.01) 62%, rgba(117, 117, 117, 0.01) 62%, rgba(117, 117, 117, 0.01) 66%, rgba(248, 248, 248, 0.01) 66%, rgba(248, 248, 248, 0.01) 76%, rgba(39, 39, 39, 0.01) 76%, rgba(39, 39, 39, 0.01) 100%), linear-gradient(90deg, rgba(57, 57, 57, 0.06) 0%, rgba(57, 57, 57, 0.06) 4%, rgba(227, 227, 227, 0.06) 4%, rgba(227, 227, 227, 0.06) 26%, rgba(67, 67, 67, 0.06) 26%, rgba(67, 67, 67, 0.06) 27%, rgba(126, 126, 126, 0.06) 27%, rgba(126, 126, 126, 0.06) 39%, rgba(103, 103, 103, 0.06) 39%, rgba(103, 103, 103, 0.06) 72%, rgba(16, 16, 16, 0.06) 72%, rgba(16, 16, 16, 0.06) 76%, rgba(21, 21, 21, 0.06) 76%, rgba(21, 21, 21, 0.06) 88%, rgba(69, 69, 69, 0.06) 88%, rgba(69, 69, 69, 0.06) 100%), linear-gradient(90deg, rgba(156, 156, 156, 0.05) 0%, rgba(156, 156, 156, 0.05) 12%, rgba(54, 54, 54, 0.05) 12%, rgba(54, 54, 54, 0.05) 48%, rgba(169, 169, 169, 0.05) 48%, rgba(169, 169, 169, 0.05) 59%, rgba(104, 104, 104, 0.05) 59%, rgba(104, 104, 104, 0.05) 62%, rgba(165, 165, 165, 0.05) 62%, rgba(165, 165, 165, 0.05) 68%, rgba(124, 124, 124, 0.05) 68%, rgba(124, 124, 124, 0.05) 77%, rgba(189, 189, 189, 0.05) 77%, rgba(189, 189, 189, 0.05) 85%, rgba(173, 173, 173, 0.05) 85%, rgba(173, 173, 173, 0.05) 100%), linear-gradient(90deg, rgba(182, 182, 182, 0.07) 0%, rgba(182, 182, 182, 0.07) 22%, rgba(122, 122, 122, 0.07) 22%, rgba(122, 122, 122, 0.07) 28%, rgba(62, 62, 62, 0.07) 28%, rgba(62, 62, 62, 0.07) 44%, rgba(89, 89, 89, 0.07) 44%, rgba(89, 89, 89, 0.07) 61%, rgba(110, 110, 110, 0.07) 61%, rgba(110, 110, 110, 0.07) 83%, rgba(185, 185, 185, 0.07) 83%, rgba(185, 185, 185, 0.07) 86%, rgba(192, 192, 192, 0.07) 86%, rgba(192, 192, 192, 0.07) 100%), linear-gradient(90deg, rgba(8, 8, 8, 0.06) 0%, rgba(8, 8, 8, 0.06) 54%, rgba(48, 48, 48, 0.06) 54%, rgba(48, 48, 48, 0.06) 57%, rgba(245, 245, 245, 0.06) 57%, rgba(245, 245, 245, 0.06) 86%, rgba(12, 12, 12, 0.06) 86%, rgba(12, 12, 12, 0.06) 94%, rgba(225, 225, 225, 0.06) 94%, rgba(225, 225, 225, 0.06) 100%), linear-gradient(90deg, rgb(53, 169, 225) 0%, rgb(1, 145, 219) 80%, rgb(26, 221, 247) 100%);
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/* dividir cartas */

/* Split the screen in half */

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 15%;
}

/* Control the left side */

.left {
    left: 0;
}

/* Control the right side */

.right {
    right: 0;
}

/* acordeon */

.accordion {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border: white 2px dotted;
    border-radius: 10px;
}

.active-accor, .accordion:hover {
    background-color: rgb(0, 0, 0);
}

.panel {
    padding: 0 18px;
    background-color: #000;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-radius: 10px;
}

.proyecto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bitacora {
    display: flex;
    justify-content: center;
    align-items: center;
}

.plataforma {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion:after {
    content: '\002B';
    color: rgb(255, 255, 255);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active-accor:after {
    content: "\2212";
}

/* entradas de texto */

/* animaciones */

@keyframes glowing {
    0% {
        background-position: 0;
    }
    50% {
        background-position: 400%;
    }
    100% {
        background-position: 0;
    }
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .split {
        padding-top: 15%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .split {
        padding-top: 10%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .glow-on-hover {
        width: 15%;
        margin: 2% 1%;
    }
    .glow-on-hover-2 {
        width: 5%;
        margin: 2.2% 2%;
    }
    .split {
        padding-top: 10%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .split {
        padding-top: 10%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .glow-on-hover {
        width: 10%;
        margin: 1% 1%;
    }
    .glow-on-hover-2 {
        width: 3%;
        margin: 1.5% 2%;
    }
    .split {
        padding-top: 15%;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
    margin: 5% 2%;
    text-align: center;
    font-family: arial;
    border: white 2px dotted;
    border-radius: 20px;
}

.right button {
    border: none;
    outline: 0;
    color: rgb(255, 255, 255);
    background-image: repeating-linear-gradient(45deg, hsla(309,81%,64%,0.1) 0px, hsla(309,81%,64%,0.1) 1px,transparent 1px, transparent 21px),repeating-linear-gradient(90deg, hsla(309,81%,64%,0.1) 0px, hsla(309,81%,64%,0.1) 1px,transparent 1px, transparent 21px),repeating-linear-gradient(22.5deg, hsla(309,81%,64%,0.1) 0px, hsla(309,81%,64%,0.1) 1px,transparent 1px, transparent 21px),repeating-linear-gradient(135deg, hsla(309,81%,64%,0.1) 0px, hsla(309,81%,64%,0.1) 1px,transparent 1px, transparent 21px),linear-gradient(90deg, hsl(254,54%,27%),hsl(254,54%,27%));
    text-align: center;
    cursor: pointer;
    width: calc(80%/4);
    height: 4vh;
    font-size: 0.8em;
    font-weight: bolder;
    border-radius: 50px;
}
.left button {
    border: none;
    outline: 0;
    color: rgb(255, 255, 255);
    background-image: radial-gradient(circle at bottom center, rgb(197, 234, 55) 0%, rgb(197, 234, 55) 12%,rgb(170, 222, 63) 12%, rgb(170, 222, 63) 18%,rgb(144, 210, 72) 18%, rgb(144, 210, 72) 23%,rgb(117, 198, 80) 23%, rgb(117, 198, 80) 47%,rgb(90, 187, 88) 47%, rgb(90, 187, 88) 59%,rgb(63, 175, 96) 59%, rgb(63, 175, 96) 68%,rgb(37, 163, 105) 68%, rgb(37, 163, 105) 86%,rgb(10, 151, 113) 86%, rgb(10, 151, 113) 100%);
    cursor: pointer;
    width: calc(80%/4);
    height: 4vh;
    border-radius: 50px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(66deg, rgba(37, 37, 37, 0.05) 0%, rgba(37, 37, 37, 0.05) 33.333%, rgba(89, 89, 89, 0.05) 33.333%, rgba(89, 89, 89, 0.05) 66.666%, rgba(234, 234, 234, 0.05) 66.666%, rgba(234, 234, 234, 0.05) 99.999%), linear-gradient(130deg, rgba(104, 104, 104, 0.05) 0%, rgba(104, 104, 104, 0.05) 33.333%, rgba(246, 246, 246, 0.05) 33.333%, rgba(246, 246, 246, 0.05) 66.666%, rgba(178, 178, 178, 0.05) 66.666%, rgba(178, 178, 178, 0.05) 99.999%), linear-gradient(72deg, rgba(168, 168, 168, 0.05) 0%, rgba(168, 168, 168, 0.05) 33.333%, rgba(73, 73, 73, 0.05) 33.333%, rgba(73, 73, 73, 0.05) 66.666%, rgba(253, 253, 253, 0.05) 66.666%, rgba(253, 253, 253, 0.05) 99.999%), linear-gradient(139deg, rgba(241, 241, 241, 0.05) 0%, rgba(241, 241, 241, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 66.666%, rgba(100, 100, 100, 0.05) 66.666%, rgba(100, 100, 100, 0.05) 99.999%), linear-gradient(111deg, rgba(65, 65, 65, 0.05) 0%, rgba(65, 65, 65, 0.05) 33.333%, rgba(223, 223, 223, 0.05) 33.333%, rgba(223, 223, 223, 0.05) 66.666%, rgba(50, 50, 50, 0.05) 66.666%, rgba(50, 50, 50, 0.05) 99.999%), linear-gradient(90deg, rgb(41, 89, 88), rgb(80, 210, 116));
    text-align: center;
    cursor: pointer;
    width: 70%;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 50px;
}

.card button:hover {
    opacity: 0.7;
}

input {
    display: block;
    color: dodgerblue;
    margin: 0 auto;
    border: none;
    padding: 0;
    width: 4ch;
    background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/ 10ch 2px no-repeat;
    font: 4.5ch droid sans mono, consolas, monospace;
    letter-spacing: 0.5ch;
}

input:focus {
    outline: none;
    color: rgb(255, 255, 255);
}

/* swiper */

.swiper-container {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 210px;
}

.swiper-slide-next {
    border-radius: 20px;
    filter: blur(2px);
}

.swiper-slide-prev {
    border-radius: 20px;
    filter: blur(2px);
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-image: radial-gradient(circle at 34% 75%, rgba(142, 142, 142, 0.06) 0%, rgba(142, 142, 142, 0.06) 50%, rgba(11, 11, 11, 0.06) 50%, rgba(11, 11, 11, 0.06) 100%), radial-gradient(circle at 40% 51%, rgba(12, 12, 12, 0.06) 0%, rgba(12, 12, 12, 0.06) 50%, rgba(242, 242, 242, 0.06) 50%, rgba(242, 242, 242, 0.06) 100%), radial-gradient(circle at 50% 87%, rgba(189, 189, 189, 0.06) 0%, rgba(189, 189, 189, 0.06) 50%, rgba(0, 0, 0, 0.06) 50%, rgba(0, 0, 0, 0.06) 100%), linear-gradient(90deg, hsl(35, 0%, 96%), hsl(35, 0%, 96%));
    opacity: .5;
    filter: blur(1px);
}

.swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    background-image: linear-gradient(328deg, rgba(29, 29, 29, 0.05) 0%, rgba(29, 29, 29, 0.05) 25%, rgba(226, 226, 226, 0.05) 25%, rgba(226, 226, 226, 0.05) 50%, rgba(21, 21, 21, 0.05) 50%, rgba(21, 21, 21, 0.05) 75%, rgba(216, 216, 216, 0.05) 75%, rgba(216, 216, 216, 0.05) 100%), linear-gradient(172deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.05) 25%, rgba(108, 108, 108, 0.05) 25%, rgba(108, 108, 108, 0.05) 50%, rgba(21, 21, 21, 0.05) 50%, rgba(21, 21, 21, 0.05) 75%, rgba(236, 236, 236, 0.05) 75%, rgba(236, 236, 236, 0.05) 100%), linear-gradient(207deg, rgba(153, 153, 153, 0.05) 0%, rgba(153, 153, 153, 0.05) 25%, rgba(83, 83, 83, 0.05) 25%, rgba(83, 83, 83, 0.05) 50%, rgba(5, 5, 5, 0.05) 50%, rgba(5, 5, 5, 0.05) 75%, rgba(82, 82, 82, 0.05) 75%, rgba(82, 82, 82, 0.05) 100%), linear-gradient(297deg, rgba(26, 26, 26, 0.05) 0%, rgba(26, 26, 26, 0.05) 25%, rgba(223, 223, 223, 0.05) 25%, rgba(223, 223, 223, 0.05) 50%, rgba(232, 232, 232, 0.05) 50%, rgba(232, 232, 232, 0.05) 75%, rgba(153, 153, 153, 0.05) 75%, rgba(153, 153, 153, 0.05) 100%), linear-gradient(204deg, rgba(120, 120, 120, 0.05) 0%, rgba(120, 120, 120, 0.05) 25%, rgba(191, 191, 191, 0.05) 25%, rgba(191, 191, 191, 0.05) 50%, rgba(246, 246, 246, 0.05) 50%, rgba(246, 246, 246, 0.05) 75%, rgba(123, 123, 123, 0.05) 75%, rgba(123, 123, 123, 0.05) 100%), linear-gradient(90deg, rgb(32, 234, 255), rgb(37, 116, 255));
    opacity: 1;
    animation: glowing 30s ease-in-out infinite;
}